.top-container{
    background-color: black;
    position: relative;
    padding-top: 100px;
    /* 
    margin-block-start: 0px or 0;
    margin-block-end: 0px;
    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    */
}

/* .tables{
     margin: 0 auto 0 auto; 
} */

.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border-style: solid;
}

.project1-img{
    width: 160px;
    height: 160px;
    border-radius: 100%; 
    float: left;
    margin-right: 40px;
    /*
        To center img:
        display: block; /* Make sure the image is a block element */
    /*  margin: 0 auto; /* Center the image horizontally by setting left and right margins to auto */
}

.project2-img{
    width: 160px;
    height: 160px; /*or width: 25%*/
    border-radius: 100%; 
    float: right;
    margin-left: 40px;
}

.project3-img{
    width: 160px;
    height: 160px;
    border-radius: 100%; 
    float: left;
    margin-right: 40px;
    /* margin-bottom: 20px; */
    /*
        To center img:
        display: block; /* Make sure the image is a block element */
    /*  margin: 0 auto; /* Center the image horizontally by setting left and right margins to auto */
}

.project4-img{
    width: 160px;
    height: 160px; /*or width: 25%*/
    border-radius: 100%; 
    float: right;
    margin-left: 40px;
}

.project-row{
    margin: 100px auto 100px auto; /*or margin: auto;*/
    width: 50%;
    text-align: left;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: black;
    /* margin-top: 50px; */
    padding: 50px 0 20px;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 562.5%;
    color: white;
    /* line-height: 2; */
    /*
    margin-block-start: 0px;
    margin-block-end: 0px;
    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    */
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: white;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
    background-color: rgb(7, 6, 6);
    /* 
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    */
}

span{
    text-decoration: underline;
}

.hello{
    width: 15%;
    height: auto;
    position: absolute;
    right: 270px;
    top: 5px;
    /* left: 50px; */
}

.world{
    width: 15%;
    height: auto;
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.footer-link{
    color:#11999E;
    font-weight: normal;
    margin: 10px 20px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
    color: rgb(24, 23, 23);
  }

  .para{
    padding-bottom: 50px;
    width: 50%;
    margin:auto;
  }

  .intro{
    width: 50%;
    margin: 0 auto;

  }

  p{
    line-height: 2;
  }

  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
  }

  a{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }

  a:hover{
    /* color: rgb(24, 23, 23); */
    color: #11999E;
  }

  .copyright{
    color: #EAF6F6; 
    font-size: 0.75rem;
    padding: 10px 0;
  }